<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather for {{ weather.city }}</title>
</head>
<body>
        <h1 style="text-align: center;">Weather for {{ weather.city }}</h1>
        <p style="text-align: center;">Temperature: {{ weather.temperature }}°C</p>
        <p style="text-align: center;">Description: {{ weather.description }}</p>
        <a href="/" >Back to Home</a>
    </centre>
</body>
</html>
